*{
  margin: 0;
  padding: 0;
}
  
/* html{
height: 100%;
} */
  
body{
  background-color: rgb(15, 23, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
}

.gran-contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(15, 23, 41); */
  width: 70%;
  margin: 20px 0 20px 0;
}

.logo-web{
  width: 80%;
  margin-top: 20px;
}

.contenedor-logo a{
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo-trans{
  /* background-color: aqua; */
  position: absolute;
  top: 0;
  z-index: 2;
}

.contenedor-menu{
  width: 83.1%;
}

.menu{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.menu ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.canal{
  text-decoration: none;
  color: aqua;
}

.menu a{
  color: gold;
  border-color: gold;
  border-style: solid;
  text-decoration: none;
  margin: 1.5px;
  background-color: rgb(29, 40, 58);
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border-width: 1px;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.menu a:hover{
  color: rgb(0, 255, 179);
  border-style: solid;
  border-color: rgb(0, 255, 179);
}

.contenedor-cuerpo{
  background-color: rgb(20, 30, 39);
  width: 80%;
  border-style: solid;
  /* border-color: rgb(208, 0, 0); */
  border-color: rgb(142, 0, 208);
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  margin-bottom: 20px;
}

.contenedor-cuerpo p{
  color: white;
}

.contenedor-weigth{
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
}

.contenedor-cuerpo h1{
  color: rgb(22, 200, 141);
  font-size: 50px;
  margin-bottom: 20px;

}

.weigth{
  background-color: rgb(29, 40, 58);
  padding: 20px;
  border-radius: 10px;
}

.weigth input{
  background-color: rgb(32, 81, 172);
  padding: 5px;
  margin: 2px;
  font-size: 20px;
  color: white;
  display: inline-block;
  width: 100px;

}

.weigth h2{
  text-align: center;
  margin-bottom: 15px;
  color: rgb(255, 251, 0);
} 

.weigth label{
  color: rgb(11, 238, 18);
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}

@media (max-width: 1032px) {
  .menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu{
    width: 100%;
  }

  .contenedor-weigth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.contenedor-portales{
  display: flex;
  justify-content: space-evenly;
}

.portal-1{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cont-img-portal{
  display: flex;
  justify-content: center;
}

.img-portal{
  width: 50%;
  border-style: solid;
  border-color: rgb(255, 158, 3);
  border-radius: 10px;
}

.portal-casilleros {

  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.portal-casilleros input{
  visibility: hidden;
  background-color: rgb(32, 81, 172);
  padding: 5px;
  margin: 2px;
  font-size: 20px;
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  width: 100px;
}

.portal-casilleros label{
  visibility: hidden;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, rgb(249, 216, 5), #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(84, 6, 209);
  display: inline-block;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  width: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
