{% extends "layout.html" %}
{% block content %}

<h1>¡Bienvenido!</h1>

<p>Esta página esta hecha con el proposito de mostrar algunas cosas que realizamos en los videos del canal <a class="canal" href="https://www.youtube.com/channel/UCQUmh-_FOedQYY7SRCnTurw" target="_blank">"HeavenlyD4rk"</a> y que será puesta en su respectiva opción del menú, que se encuentra debajo del logo.</p>
<br>

<p>Recordar que esta página aún esta en progreso y que puede tener algunos errores, asi que espero su comprensión.</p>
<br>

<p>Por último, cualquier sugerencia o comentario tendrá que realizarlo en el canal.</p>
{% endblock %}
