<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <title>Good Crafting</title>
  <link rel="icon" href="{{ url_for('static', filename='imagenes/iconos/favicon-logo.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="gran-contenedor">
    <div class="contenedor-logo">
      <a href="/">
        <img class="logo-web" src="{{url_for('static', filename='imagenes/Logo-Web.png')}}" alt="Logo de la página">
        <img class="logo-web logo-trans" src="{{url_for('static', filename='imagenes/Logo-Web-Transparente.png')}}" alt="Logo de la página">
      </a>
    </div>
    <div class="contenedor-menu">
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">YouTube</a></li>
          <li><a href="#">Portales</a></li>
          <li><a href="/texture-pack">Texture Pack</a></li>
          <li><a href="/slime-chunks">Slime Chunks</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="contenedor-cuerpo">
      {% block content %}
      {% endblock %}
    </div>
  </div>  
</body>
</html>