{% extends "layout.html" %}
{% block content %}
<h1>Vincular Portales</h1>
<div class="contenedor-mundo">
  <div class="mundo">

    <img class="img-portal" src="{{url_for('static', filename='imagenes/overworld-pedazo.png')}}" alt="Overworld">
    <h3>Overworld</h3>
    <div class="mundo-cont-inputs">

      <div class="mundo-inputs">
        <div>
          <label for="grupo1Casillero1">X :</label>
          <input type="number" id="grupo1Casillero1" oninput="actualizarGrupo1()" />
        </div>
        <div>
          <label for="grupo1Casillero2">Y :</label>
          <input type="number" id="grupo1Casillero2" oninput="actualizarGrupo1()" />
        </div>
        <div>
          <label for="grupo1Casillero3">Z :</label>
          <input type="number" id="grupo1Casillero3" oninput="actualizarGrupo1()" />
        </div>
      </div>
    </div>
    <div class="coord-copiar">
      <span id="grupo1CasilleroTexto"></span>
      <button onclick="copiarContenido('grupo1CasilleroTexto')">Copiar</button>
    </div>
  </div>
  
  <div class="mundo">

    <img class="img-portal" src="{{url_for('static', filename='imagenes/nether-pedazo.png')}}" alt="Overworld">
    <h3>Nether</h3>
    <div class="mundo-cont-inputs">
      <div class="mundo-inputs">
        <div>
          <label for="grupo2Casillero1">X :</label>
          <input type="number" id="grupo2Casillero1" oninput="actualizarGrupo2()" />
        </div>
        <div>
          <label for="grupo2Casillero2">Y :</label>
          <input type="number" id="grupo2Casillero2" oninput="actualizarGrupo2()" />
        </div>
        <div>
          <label for="grupo2Casillero3">Z :</label>
          <input type="number" id="grupo2Casillero3" oninput="actualizarGrupo2()" />
        </div>
      </div>
    </div>
    <div class="coord-copiar">
      <span id="grupo2CasilleroTexto"></span>
      <button onclick="copiarContenido('grupo2CasilleroTexto')">Copiar</button>
    </div>
  </div>

</div>


<script src="{{url_for('static', filename='js/portales.js')}}"></script>


{% endblock %}
