{% extends "layout.html" %}
{% block content %}
<h1>Vincular Portales</h1>
<script>
  window.addEventListener('load', function() {
    var inputs = document.querySelectorAll('.portal-casilleros input, label');
    inputs.forEach(function(input) {
      input.style.visibility = 'visible';
    });
  });
</script>
<div class="contenedor-portales">

  <div class="portal-1">
    <div class="cont-img-portal">
      <img class="img-portal" src="{{url_for('static', filename='imagenes/overworld-pedazo.png')}}" alt="Overworld">
    </div>

    <div class="portal-casilleros">
      <div>
        <label for="casillero1">X :</label>
        <input type="number" id="casillero1" oninput="calcularCasillerosGrupo1()">
      </div>
      <div>
      <label for="casillero2">Y :</label>
        <input type="number" id="casillero2" oninput="casillero5.value = this.value; calcularCasillerosGrupo1()">
      </div>
      <div>
        <label for="casillero3">Z :</label>
        <input type="number" id="casillero3" oninput="calcularCasillerosGrupo1()">
      </div>
    </div>   
  </div>

  <div class="portal-1">
  
    <div class="cont-img-portal">
      <img class="img-portal" src="{{url_for('static', filename='imagenes/nether-pedazo.png')}}" alt="Nether">
    </div>

    <div class="portal-casilleros">
      <div>  
        <label for="casillero4">X :</label>
        <input type="number" id="casillero4" oninput="calcularCasillerosGrupo2()">
      </div>
      <div>
        <label for="casillero5">Y :</label>
        <input type="number" id="casillero5" oninput="casillero2.value = this.value; calcularCasillerosGrupo2()">
      </div>
      <div>
        <label for="casillero6">Z :</label>
        <input type="number" id="casillero6" oninput="calcularCasillerosGrupo2()">
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/portales.js')}}"></script>


{% endblock %}